<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#{root.item}</title>
    <!--<link rel="shortcut icon" href="images/faveico.gif" type="image/png">-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!--<script src="//vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>-->
    <!--Import Google Icon Font-->
    <link href="css/icon.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div id="page" class="main-conteiner">
      <!--menu-->
      <div class="nav">
        <div class="nav-left">
          <ul id="slide-out" class="side-nav fixed menu-list">
            <div data-for="value, key of root.menu">
              @{var active = value.active == true;}
              @{var item = "?item=" + key;}
              @{var title = value.title;}
              <li data-if="active" class="active" style='background-color: #bbdefb'>
                <a href=#{item} class="menu-item"> #{title}</a>
              </li>
              <li data-if="!active">
                <a href=#{item} class="menu-item"> #{title}</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <!--cards-->
      <div class="center-conteiner">
        <div data-for="value in root.productImages">
          <div class="food">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image"><img class="food-img" src=#{value.pathImage}>
                  <span class="card-title" style="color: #2196f3">
                    <br>
                  </span>
                  <a class="btn-floating btn-large halfway-fab waves-effect waves-light red">
                    <i class="material-icons add-food">add</i>
                  </a>
                </div>
                <div class="card-content">
                  <span class="card-title">#{value.title}</span>
                  <div class="description">
                    <p>#{value.сomposition}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script>
      // var real_height = document.getElementById("page").clientHeight; 
      // VK.callMethod("resizeWindow",width, real_height); 
    </script>
  </body>
</html>