* {
    margin: 0;
    padding: 0;
    cursor: default;
    line-height: inherit;
    font-size: 14px;
    font-weight: inherit;
}

.main-conteiner {
    margin: 0 auto;
    width: 795px;
    height: 600px;
    /*display: inline-block;*/
}

header, main, footer {
    padding-left: 200px;
}

@media only screen and (max-width : 92px) {
    header, main, footer {
    padding-left: 0;
    }
}

.center-conteiner {
    width: 594px;
    height: 100%;
    float: left;
    background-color: #eaeaea;
    overflow-y: scroll;
    overflow-x: hidden;
}

.food {
    width: 280px;
    max-height: 364px;
    float: left;
    margin: 5px 0 0 7px;
    overflow: hidden;
}

.description {
    min-height: 132px;
}

.nav {
    float: left; 
    width: 201px; 
    height: 600px; 
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}

.food-img {
    height: 210px;
}

.add-food {
    cursor: pointer;
}

.menu-item {
    cursor: pointer;
}

.menu-list {
    width: 201px !important;
    height: 100% !important;
    position: relative !important;
    min-height: 600px !important;
}